.main-page-content {
    /* background-color: aqua; */
    /* height: 100%; */
    /* position: fixed; */
    /* width: 100%; */


}

.mainPage-open{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:66px;
    left:240px;
    display: flex;
    flex-direction: column;
     align-items: flex-start;

}
