/* TODO Add site wide styles */

/* TODO Add site wide styles */
html,
body {
    font-family: "Proxima Nova";
    box-sizing: border-box;
    margin: 0;
}


ul,
li {
    list-style-type: none;
}

button,
input:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(240, 106, 106)
}
a:hover {
   
    cursor: pointer;
}

button,
input:focus {
    outline: none;
}

button {
    border: none;
}

button:hover {
    filter: brightness(90%)
}
