/* TODO Add site wide styles */

/* TODO Add site wide styles */
html,
body {
    font-family: "Proxima Nova";
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-size: 18px;
    min-height: 100vh;
    min-width: 100vw;
    color: black;
    /* background-color: rgb(30,31,33); */
}

select , option {
    font-size: 18px;
}

ul,
li {
    list-style-type: none;
}

button,
input:hover {
    cursor: pointer;
}

a {
   text-decoration: none;
    color: rgb(240, 106, 106)
}
a:hover {

    cursor: pointer;
    text-decoration: none;
}

button,input:focus {
    outline: none;
}

button {
    border: none;
}

button:hover {
    filter: brightness(90%)
}

input {
    font-size: 18px;
}

input:focus{
    border: 3px solid rgb(81, 135, 248);
}
