.top-title {
    position:absolute;
    top:100px;
    left:300px;
    right:300px;
    width: 100vw - 300px -300px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;

}

.home-date{
    
}
